@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
    /* --secondaryColor:#0a0a18; */
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}
.logo{
    color: var(--secondaryColor);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
/* footer css... */

.footer{
    width: 100%;
    padding: 50px 50px 0px;
    background-color: var(--mainColor);
    min-height: 200px;
}
.footer .box{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}
.footer .box .left{
    display: flex;
    justify-content: space-around;
    padding-right: 20px;
}
.footer .box .left .categories > p {
    font-size: 28px;
    margin-bottom: 30px;
    color: var(--secondaryColor);
}
.footer .box .left .categories div{
    margin-bottom: 15px;
    width: max-content;
}
.footer .box .left .categories div p{
    font-size: 20px;
    color: #ddd;
    cursor: pointer;
    padding: 0 10px;
    border-left: 1px solid #fff0;
    border-right: 1px solid #fff0;
    transition: 0.3s;
}
.footer .box .left .categories div p:hover{
    color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.footer .contact{
    margin-left: 10px;
}
.footer .contact p{
    font-size: 28px;
    margin-bottom: 30px;
    color: var(--secondaryColor);
}
.footer .contact div{
    font-size: 17px;
    margin-bottom: 15px;
    color: #aaa;
}
.footer .icon{
    margin-top: 20px;
    padding: 20px;
}
.footer .icon i{
    font-size: 25px;
    margin-right: 20px;
    color: #aaa;
    cursor: pointer;
    transition: 0.3s;
}
.footer .icon i:hover{
    color: #fff;
    transform: scale(1.2);
}
.footer .newsletter p{
    font-size: 28px;
    margin-bottom: 30px;
    color: var(--secondaryColor);
}
.footer .newsletter .email{
    display: flex;
}
.footer .newsletter .email input{
    width: 400px;
    padding: 12px 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-right: 20px;
}
.footer .newsletter .email button{
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border-color: #fff;
    border-style: solid;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.footer .newsletter .email button:hover{
    color: #0a0a18;
    background-color: #fff;
}
.footer .copyrights{
    font-size: 18px;
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
}

/* Button css... */

.btn{
    background-color: #29335c;
    border: none;
    color: #aaa;
    font-size: 18px;
    font-weight: 300;
}
.btn:hover{
    background-color: #aaa;
    color: #29335c;
}